# Ignore bundler config
/book_archive/.bundle

# Ignore the default SQLite database.
/book_archive/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/book_archive/log/*.log
/book_archive/tmp

# Emacs
\#*
*~

# Ignore bundler config
/unitn_places/.bundle

# Ignore the default SQLite database.
/unitn_places/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/unitn_places/log/*.log
/unitn_places/tmp
