# Ignore bundler config
/book_archive/.bundle

# Ignore the default SQLite database.
/book_archive/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/book_archive/log/*.log
/book_archive/tmp

# Emacs
\#*
*~
.#*

# Ignore bundler config
/ict4g_places/.bundle

# Ignore the default SQLite database.
/ict4g_places/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/ict4g_places/log/*.log
/ict4g_places/tmp
